<div class="d-none">
    <img id="img-file" src="{{ url_for('site.static', filename='assets/file.svg') }}">
    <img id="img-dir" src="{{ url_for('site.static', filename='assets/directory.svg') }}">
    <table>
        <tr id="file-template">
            <th scope="row"class="text-center"><input id="file-selection" type="checkbox" value=""></th>
            <td class="text-center"><div id="file-type" class="svg-icon"></div></td>
            <td><a id="file-name" href="#"></a></td>
            <td id="file-lastmod"></td>
            <td id="file-size"></td>
            <td><a id="file-operation-newtab" href="#">Open in new tab</a></td>
        </tr>
    </table>
</div>

<div class="table-responsive">

    <!--Table-->
    <table class="table table-striped">

        <!--Table head-->
        <thead>

        <tr>
            <th style="width:3%" class="text-center">
                <input type="checkbox" value="all">
            </th>
            <th style="width:3%;">Type</th>
            <th style="width:60%">Name</th>
            <th style="width:10%">Last Modified</th>
            <th style="width:10%">Size(MB)</th>
            <th style="width:14%">Operation</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody id="file-container">

        <tr>
            <th scope="row" class="text-center">
                <img src="{{ url_for('site.static', filename='assets/parent.svg') }}">
            </th>
            <th colspan="5">
                <a href="#">Go to parent directory</a>
            </th>
        </tr>

        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->

</div>