<!DOCTYPE html>
<html class="h-100">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="{{ url_for('site.static', filename='js/utils.js') }}"></script>
    </head>
    <body class="h-100">
        <div class="jumbotron h-100">
            <h1 class="display-4">A Password is required to access this page</h1>
            <p class="lead">Please enter your password below.</p>
            <hr class="my-4">
            <form id="passwordForm">
                <div class="form-group">
                    <input type="password" class="form-control" id="accessPassword" placeholder="Password">
                    <small id="passwordInfo" class="form-text text-danger">
                        
                    </small>
                </div>
                <hr class="my-4" />
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>

        <script type="text/javascript">
            $("#passwordForm").submit(function (e) {
                e.preventDefault();
                if ($("#accessPassword").val()) {
                    let password = $("#accessPassword").val();
                    sendRequest("/api/access-password", JSON.stringify({ "password": password }), passwordCallback);
                }
                else
                    $("#passwordInfo").html("Invalid password")
            })

            function passwordCallback(status, data)
            {
                data = JSON.parse(data);
                if (data["status"] == 0)
                {
                    console.log("Success");
                    location.reload();
                }
                else
                {
                    $("#passwordInfo").html(data["details"]);
                }
            }
        </script>
    </body>
</html>