<div class="d-none">
    <img id="img-file" src="{{ url_for('site.static', filename='assets/file.svg') }}">
    <img id="img-dir" src="{{ url_for('site.static', filename='assets/directory.svg') }}">
    <table>
        <tr id="file-template">
            <th scope="row"class="text-center"><input id="file-selection" type="checkbox" value=""></th>
            <td class="text-center"><div id="file-type" class="svg-icon"></div></td>
            <td><a id="file-name" href="#"></a></td>
            <td id="file-lastmod"></td>
            <td id="file-size"></td>
            <td><a id="file-operation-newtab" href="#">Open (New Tab)</a></td>
        </tr>
    </table>
</div>

<div class="table-responsive">

    <!--Table-->
    <table class="table table-striped">

        <!--Table head-->
        <thead>

        <tr>
            <th style="width:3%" class="text-center">
                <input type="checkbox" value="all">
            </th>
            <th style="width:2%;">Type</th>
            <th style="width:60%">Name</th>
            <th style="width:15%" class="text-nowrap">Last Modified</th>
            <th style="width:7%">Size(KB)</th>
            <th style="width:13%">Operation</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody id="file-container">

        <tr>
            <th scope="row" class="text-center">
                <img src="{{ url_for('site.static', filename='assets/parent.svg') }}">
            </th>
            <th colspan="3">
                <a href="javascript:changeDirectoryParent();">Go to parent directory</a>
            </th>
            <th class="border-left-1 border-dark" colspan="2">
                <div class="d-flex justify-content-between">
                    <span id="file-count">0</span><span>Files</span> <span id="dir-count">0</span><span>Dirs</span>
                </div>
            </th>
        </tr>

        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->

</div>