<div class="item">
    <table id="table-files"
        data-show-columns="true"
        data-search="true"
        data-show-toggle="true"
        data-click-to-select="true">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-width=40 data-width-unit="%" data-sortable="true">Name</th>
                <th data-field="last_mod" data-width=15 data-width-unit="%" data-sortable="true">Last Modified</th>
                <th data-field="size" data-width=15 data-width-unit="%" data-sortable="true">Size</th>
                <th data-field="mimetype" data-width=16 data-width-unit="%" data-sortable="true">Mime</th>
                <th data-field="ops" data-sortable="true">Operation</th>
            </tr>
        </thead>
        <tbody id="file-container">
        </tbody>
    </table>
</div>
