<div class="d-none">
    <table>
        <tr id="folder-template">
            <th></th>
            <td><a href="" id="t-name"></a></td>
            <td id="t-last-mod"></td>
            <td id="t-size"></td>
            <td id="t-contents-folder"></td>
            <td id="t-contents-file"></td>
            <td>
                <a id="t-op-download" href=""><i class="fa fa-download"></i></a>
                <a id="t-op-newtab" href="" target="_blank"><i class="fa fa-external-link-alt"></i></a>
                <a id="t-op-rename" href=""><i class="fa fa-edit"></i></a>
                <a id="t-op-delete" href=""><i class="fa fa-trash"></i></a>
                <a id="t-op-move" href=""><i class="fa fa-file-export"></i></a>
            </td>
        </tr>
    </table>
</div>

<div class="item">
    <table id="table-folders"
        data-show-columns="true"
        data-search="true"
        data-show-toggle="true"
        data-click-to-select="true"
        data-resizable="true">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="last-mod" data-sortable="true">Last Modified</th>
                <th data-field="size" data-sortable="true">Size</th>
                <th data-field="content-folder" data-sortable="true">Folders</th>
                <th data-field="content-file" data-sortable="true">File</th>
                <th data-field="ops" data-sortable="true">Operation</th>
            </tr>
        </thead>
        <tbody id="folder-container">
        </tbody>
    </table>
</div>
