<!-- START FILE UPLOAD MODAL -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="upload-modal-label">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-file">
                    <input name="File" type="file" class="custom-file-input" id="file-upload" onchange="javascript:setUploadFileLabel();" multiple>
                    <label class="custom-file-label" for="file-upload" id="file-upload-label">Choose file</label>
                </div>
                <hr class="my-3"/>
                <button type="button" class="btn btn-primary btn-block" onclick="javascript: uploadFile();">Upload</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END FILE UPLOAD MODAL -->

<!-- START New Folder MODAL -->
<div class="modal fade" id="new-folder-modal" tabindex="-1" role="dialog" aria-labelledby="new-folder-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-folder-modal-label">New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="new-folder-name" placeholder="Enter Folder Name: ">
                </div>
                <hr class="my-3"/>
                <button type="button" class="btn btn-primary btn-block" onclick="javascript:newFolder();">Create Folder</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END New Folder MODAL -->

<!-- START Delete MODAL -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p class="lead">You are about to delete<br>
                        <span class="font-weight-bold" id="file-delete-total">PLACE_HOLDER</span> Files<br>
                        <span class="font-weight-bold" id="folder-delete-total">PLACE_HOLDER</span> Folders
                        <br><br>This Action is irreversible.
                    </p>
                    <hr class="my-3" />
                    <button class="btn btn-button btn-danger btn-block" onclick="javascript:deleteFile();">DELETE</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END Delete MODAL -->

<!-- START Download MODAL -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="download-modal-label">Download</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Download stuff</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END Download MODAL -->
