<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href='{{ url_for("site.static", filename="plugin/font-awesome/css/font-awesome.min.css") }}'>
    
        <link rel="stylesheet" href='{{ url_for("admin.static", filename="css/sidebar.css") }}'>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Administration Panel</a>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </nav>

        {% include 'elements/sidebar.html' %}
    </body>
    <script type="text/javascript">
        [].forEach.call(document.querySelectorAll("*"),function(a){a.style.outline="1px solid #"+(~~(Math.random()*(1<<24))).toString(16)})
    </script>

</html>